<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="title"></div>
    <div class="subtitle">
      <p>Kindly click the "Reset your password" to reset password</p>
      <p>
        Click here to reset your password <a href="http://0.0.0.0:3331/reset-password/{{token}}">Reset your password</a>.
        <a>if you did not do this action, kindly disregard this email</a>
      </p>
    </div>
  </section>
</body>
</html>
